<h2>Create new team</h2>

<form>
    <label for="name">Name:</label>
    <input type="text" name="name" required>

    <label for="country">Country:</label>
    <input type="text" name="country" required>

    <label for="image">Image:</label>
    <input type="file" id="image" name="image" accept="image/*">

    <label for="adress">Adress:</label>
    <input type="text" name="adress" required>

    <label for="website">Website:</label>
    <input type="text" name="website" required>

    <label for="founded">Founded:</label>
    <input type="text" name="founded" required>

    <label for="club-colors">Club colors:</label>
    <input type="text" name="club-colors" required>

    <label for="venue">Venue:</label>
    <input type="text" name="venue" required>

    <button type="submit">Save</button>
</form>