<h1>Create new team</h1>

<form action="/create-team" method="post" enctype="multipart/form-data">
    <label for="name">Name:</label>
    <input class="form-input-name" type="text" name="name" required>

    <label for="country">Country:</label>
    <input class="form-input-country" type="text" name="country" required>

    <label for="shortName">Short name:</label>
    <input class="form-input-shortName" type="text" name="shortName" required>

    <label for="tla">TLA:</label>
    <input class="form-input-tla" type="text" name="tla" required>

    <label for="image">Image:</label>
    <input class="form-input-image" type="file" name="image" required>

    <label for="address">Address:</label>
    <input class="form-input-address" type="text" name="address" required>

    <label for="phone">Phone:</label>
    <input class="form-input-phone" type="text" name="phone" required>

    <label for="website">Website:</label>
    <input class="form-input-website" type="text" name="website" required>

    <label for="email">Email:</label>
    <input class="form-input-email" type="email" name="email" required>

    <label for="founded">Founded:</label>
    <input class="form-input-founded" type="number" name="founded" required>

    <label for="clubColors">Club colors:</label>
    <input class="form-input-clubColors" type="text" name="clubColors" required>

    <label for="venue">Venue:</label>
    <input class="form-input-venue" type="text" name="venue" required>

    <button class="form-btn-create" type="submit">Create</button>
</form>