<h1 class="h1-delete">Delete {{ dataTeamId.name }}</h1>

<p>Do you want to delete <b>{{ dataTeamId.name }}</b>?</p>
<form action="/delete-team/{{ dataTeamId.id }}" method="post">
  <button class="delete-button" type="submit">Confirm</button>
</form>